.buttons{
    margin-top: 2rem;
}

.start, .stop, .restart{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.modes-name{
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
}

.modes{
    width: 50%;
    margin: 0 auto;
}
.remaining-time{
     width: 70%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1rem;
}